html, body {
    margin:0;
    padding:0;
    width:100%;
    min-width:25%;
  }
  body {
    font-family:Poppins;
  }
  header {
    width:100%;
    height:150vh;
    background-image: url(https://files.toodaylab.com/2023/09/chagee_keep_20230918234209_01.jpg);
    background-size:cover;
  }
  .content {
    width:90%;
    margin:4em auto;
    font-size:20px;
    line-height:30px;
    text-align:justify;
  }
  .logo {
    position:fixed;
    float:left;
    margin:16px 36px;
    color:#fff;
    font-weight: bold;
    font-size:24px;
  }
  nav {
    position:fixed;
    width:100%;
  }
  nav ul {
    list-style:none;
    background: rgba(0,0,0,0);
    overflow:hidden;
    color:#fff;
    padding:0;
    text-align:center;
    margin:0;
    transition: 1s;
  }
  nav.black ul {
    background:#000;
  }
  nav ul li {
    display:inline-block;
    padding:20px;
  }
  nav ul li a {
    text-decoration:none;
    color:#fff;
    font-size:20px;
  }
  .menu-icon {
    width:100%;
    background:#000;
    text-align:right;
    box-sizing:border-box;
    padding:15px 40px;  
    color:#fff;
    display:none;
  }
  
  @media(max-width:580px) {
    .logo {
      position:fixed;
      top:0;
      margin-top:16px;
    }
    nav ul {
      max-height:0px;
      background:#000;
    }
    nav.black ul {
      background:#000;
    }
    .showing {
      max-height:20em;
    }
    nav ul li {
      box-sizing:border-box;
      width:100%;
      padding:24px;
      text-align: center;
    }
    .menu-icon {
      display:block;
    }
  }
  